.container {
  margin-top: 3vh;
  margin-left: 11.5vw;
  display: flex;
  flex-direction: row;
}
input::placeholder {
  color: grey;
  opacity: 0.5;
  font-size: 3rem;
  text-align: center;
}

input {
  width: 70vw;
  height: 10vh;
  font-size: 3rem;
}
button > img {
  max-height: 5vh;
}
button {
  height: 11vh;
  width: 5vw;
}
