.emptyContainer {
  display: flex;
  flex-direction: column;
}
.empty {
  font-size: 4.5em;
  margin-left: 18vw;
  padding-top: 30vh;
  color: rgba(53, 51, 51, 0.5);
}
.container {
  border: 1px dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  font-size: 2rem;
  word-break: break-all;
  word-wrap: normal;
}
.todoText {
  margin: auto 0 auto 0;
}
.container:hover {
  border: solid 3px;
  transition: border 0.15s linear;
}
.rightSide > button {
  margin: auto;
  max-height: 7em;
  max-width: 7em;
}
.rightSide {
  border-left: 2px solid;
  display: flex;
  flex-direction: row;
}
.dateWrapper {
  margin: auto 1vw auto 1vw;
  min-width: 8vw;
  display: flex;
  flex-direction: column;
}
