.empty {
  font-size: 5vw;
  padding-left: 14vw;
  padding-top: 18vh;
  color: rgba(53, 51, 51, 0.5);
}
.container {
  border: 1px dotted;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
  word-break: break-all;
  word-wrap: normal;
  font-size: 1.5rem;
}
.todoText {
  box-sizing: content-box;
  padding-top: 2vh;
  min-width: 25vw;
  font-size: 1.5vw;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 1px;
}
abbr[title] {
  text-decoration: none;
}
.container:hover {
  background-color: rgb(179, 178, 178);
}
.rightSide {
  border-left: 2px solid;
  display: flex;
  flex-direction: row;
}
.dateWrapper {
  padding-left: 1vw;
  height: 6.5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1vw;
  min-width: 10vw;
}
.three {
  box-sizing: content-box;
  border-left: 2px solid;
  display: flex;
  flex-direction: row;
  min-width: 25vw;
  font-size: 1.5vw;
}

.container > .rightSide > button {
  height: 6.5vh;
  width: 4vw;
}
.container > .rightSide > button > img {
  object-fit: scale-down;
  width: 100%;
  height: 100%;
}
.three > abbr {
  box-sizing: content-box;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 23vw;
  margin-top: 2vh;
  padding-left: 2vw;
}

.dateWrapper > section {
  margin-top: 2vh;
  padding-right: 1vw;
}
