body {
  background: linear-gradient(to right, white, black);
}
.listContainer {
  margin-left: 20vw;
  max-width: 65vw;
  height: 75vh;
  margin-top: 10vh;
  background-color: rgba(255, 255, 255, 0.5);
  overflow-y: auto;
}
